{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": "> 1%"
        },
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "inline-react-svg",
      {
        "svgo": {
          "cleanupIDs": false
        }
      }
    ],
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
