<%# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script> %>
<%# <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script> %>
<script type="text/javascript" src="https://raw.githubusercontent.com/cameronmcefee/plax/master/js/plax.js"></script>

<div id="root">
  <%=react_component("App")%>
</div>