footer {
    margin: 0;
    padding: 0;
    font-size: 0.8em;
    text-align: center;
    color : rgb(238, 236, 236);
    background-color: #965252;
    
    bottom: 0;
    width: 100%;
    z-index:99999;
}