// Theme Colors
$grass-green: #4A7516;
$jade-green: #4E9980;
$tiffany-blue: #6CB1A2;
$spring-grass: #54A52A;
$mature-grass: #267342;
$dirty-rose: #EABFB8;
$pale-rose: #E7838C;
$dirty-yellow: #F6B218;
$pop-yellow: #FCC526;
$light-soil: #EFD2B3;
$beige-brown: #9B7255;
$red-brown: #814E52;
$bear-brown: #63342C;
$soil-brown: #8D786D;
$unicorn-purple: #BDCDEB;

.grid_container {
    position: relative;
    display: block;
    height: 610px;
    width: 850px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 200px;
    &>div {
        height: fit-content;
        position: absolute;
        top: 0;
        left: 0;
        &.calendar_canvas {
            box-shadow: 20px 20px 10px $beige-brown;
            .canvasDay {
                height: 120px;
                width: 120px;
                color: white;
                background-color: $soil-brown;
                border: 1px solid white;
                display: inline-block;
            }
            .canvasWeek {
                margin: 0;
            }
        }
        &.calendar_month {
            z-index: 1;
            .day {
                height: 120px;
                width: 120px;
                color: white;
                background-color: $grass-green;
                border: 1px solid white;
                display: inline-block;
            }
            .week {
                margin: 0;
            }
        }
    }
    ul {
        height: 120px;
    }
}

.calendarSelection {
    text-align: center;
    display: inline-block;
    margin: 0px 230px;
}

.show-month {
    width: 60px;
    height: 30px;
    margin: auto;
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 700;
    padding: 0 20px;
}

.show-year {
    font-family: 'Dancing Script', cursive;
    display: inline-block;
    font-size: 25px;
    font-weight: 700;
    padding: 0px 3px;
}