// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profileCard {
  width: 200px;
  margin-left: 0.5em;
  float: left;
}

.card-content {
  color: black;
  background-color: lightgray;
}

.btn {
  background-color: darkgray;
}

.topNav {
    background-color:darkgreen;
}

.brand-logo {
  margin-left: 0.5em;
}

canvas {
  margin: 2em;
  width: 50%;
  height: 50%;
}
