// Theme Colors
$grass-green: #4A7516;
$jade-green: #4E9980;
$tiffany-blue: #6CB1A2;
$spring-grass: #54A52A;
$mature-grass: #267342;
$dirty-rose: #EABFB8;
$pale-rose: #E7838C;
$dirty-yellow: #F6B218;
$pop-yellow: #FCC526;
$light-soil: #EFD2B3;
$beige-brown: #9B7255;
$red-brown: #814E52;
$bear-brown: #63342C;
$soil-brown: #8D786D;
$unicorn-purple: #BDCDEB;
$dirty-grass: #1F4730;
$black-green: #30511D;


#createJournalButton{
    height: 100%;
    width: 100%;
    background-color: $dirty-grass;
}

.journals-header {
  text-align: center;
}

.journals-container {
  border: solid;
  margin: 10%;
  height: fit-content;
}