// Import Theme Colors
@import 'variable';


.profileCard {
  margin: auto;
  width: 500px;
}

.card-content {
  color: black;
  background-color: lightgray;
  padding: 0;
}

.btn {
  background-color: darkgray;
}

.scene {
  flex: 1 auto;
  min-height: 500px;
  min-width: 800px;
}


.chart {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  
}

.radar-chart canvas {
  background: white;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 50px 0 rgba(138, 138, 138, 0.25);

}

form.chartForm {
  max-width: 400px;
  margin-right: 120px;
}

label.label1{
  color: #8887FF;
  font-size: 20px;
}

label.label2{
  color: #97BBCD;
  font-size: 20px;
}


form.chartForm input{
  text-align: center;
}
