// Import Theme Colors
@import 'variable';


.profileCard {
  width: 200px;
  margin-left: 0.5em;
  float: left;
}

.card-content {
  color: black;
  background-color: lightgray;
}

.btn {
  background-color: darkgray;
}

form.chartForm {
  height: 150px;
  width: 400px;
  text-align: center;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
}

form.chartForm label{
  color: black;
}


form.chartForm input{
  text-align: center;
}