// Import Theme Colors
@import 'variable';


.profileCard {
  margin: auto;
  width: 500px;
}

.card-content {
  color: black;
  background-color: lightgray;
  padding: 0;
}

.btn {
  background-color: darkgray;
}

form.chartForm {
  height: 150px;
  width: 400px;
  text-align: center;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
}

label.label1{
  color: #8887FF;
  font-size: 20px;
}

label.label2{
  color: #97BBCD;
  font-size: 20px;
}


form.chartForm input{
  text-align: center;
}
