// Import Theme Colors
@import 'variable';


.profileCard {
  margin: 30px 350px;
  width: 500px;
}

.card-content {
  color: black;
  background-color: lightgray;
}

.btn {
  background-color: darkgray;
}